<%= form_for([@user, @task]) do |f| %>
 <% if @task.errors.any? %>
  <div id="error_explanation">
   <h2><%= @task.errors.count %> errors.</h2>
   <ul>
    <% @task.errorsfull_messages.each do |msg| %>
     <li><%= msg %></li>
    <% end %>
   </ul>
  </div>
<% end %>
   
 <div class="field">
   <%= f.label :status, 'ステータス' %><br />
   <%= f.radio_button :status, true %> 完了
   <%= f.radio_button :status, false %> 未完了
 </div>
 <div class="field">
   <%= f.label :name, '名前' %><br />
   <%= f.text_field :name %>
 </div>
 <div class="field">
   <%= f.label :deadline, '締め切り' %><br />
   <%= f.date_select :deadline, use_month_numbers: true %>
 </div>
 <%= f.submit "登録" %>
 <% end %>
 