<h1>タスク一覧</h1>
<div id="notice"><%= notice %></div>

<p>
   <%=link_to "新規作成", new_user_task_path(@user) %> |
   <%=link_to "未完了タスク一覧", unclosed_user_tasks_path(@user) %>
</p>

<%= form_tag user_tasks_path(@user), :method => :get do %>
 <%= text_field_tag :name, @name %>
 <%= submit_tag "検索" %>
<% end %>

<table>
    <tr>
         <th>状態</th>
         <th>タスク名</th>
         <th>締め切り</th>
         <th>タグ</th>
         <th></th>
    </tr>
<% @tasks.each do |task| %>
    <tr>
         <td><%= humanize_status(task.status) %></td>
         <td><%= task.name %></td>
         <td><%= humanize_date(task.deadline) %></td>
         <td><%= link_to_tags(task.tags) %></td>
         <td>
          <%= link_to "表示", user_task_path(@user,task) %> |
          <%= link_to "編集", edit_user_task_path(@user,task) %> |
          <%= link_to "削除", user_task_path(@user,task),:method => :delete,
                              :data => {:confirm => "本当に削除しますか？"} %> |
          <%= link_to "完了", done_user_task_path(@user,task), :method => :put %>
         </td>
    </tr>
<% end %>
</table>
