<h1>タスク詳細</h1>
<div id="notice"><%= notice %></div>

<table>
    <tr>
         <th>状態</th>
         <td><%= humanize_status(@task.status) %></td>
    </tr>
    <tr>
         <th>タスク名</th>
         <td><%= @task.name %></td>
    </tr>
    <tr>
         <th>締切日</th>
         <td><%= humanize_date(@task.deadline) %></td>
    </tr>
    
    <tr>
        <th>タグ</th>
        <td>
            <table>
                <% @task.tags.each do |tag| %>
                  <tr>
                      <td>
                          <%= link_to tag.name, user_tasks_path(@user, :tag => tag.name) %>
                          <td>
                              <%= link_to "削減", user_task_tag_path(@user, @task, tag), :method => :delete %>
                          </td>
                      </td>
                            
                  </tr>
                <% end %>
                <tr>
                    <%= form_tag(user_task_tags_path(@user, @task)) do %>
                      <td><%= text_field_tag :name %></td>
                      <td><%= submit_tag "追加" %></td>
                    <% end %>
                </tr>
            </table>
        </td>
    </tr>
    
</table>

<p>
    <%= link_to "編集", edit_user_task_path(@user, @task) %> |
    <%= link_to "戻る", user_tasks_path(@user) %> |
</p>