<h1>タスク詳細</h1>
<div id="notice"><%= notice %></div>

<table>
    <tr>
         <th>状態</th>
         <td><%= humanize_status(@task.status) %></td>
    </tr>
    <tr>
         <th>タスク名</th>
         <td><%= @task.name %></td>
    </tr>
    <tr>
         <th>締切日</th>
         <td><%= humanize_date(@task.deadline) %></td>
    </tr>
    

    
</table>

<p>
    <%= link_to "編集", edit_user_task_path(@user, @task) %> |
    <%= link_to "戻る", user_tasks_path(@user) %> |
</p>