<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, '名前'  %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, 'メールアドレス'  %><br>
    <%= f.text_field :email %>
  </div>
  
  <% if action_name.in? ["new", "create"] %>
    <div class = "field">
      <%= f.label :password, 'パスワード'  %><br />
      <%= f.password_field :password %>
    </div>
    <div class = "field">
      <%= f.label :password_cofirmation, 'パスワード確認'  %><br />
      <%= f.password_field :password_cofirmation %>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :birthday, '生年月日'  %><br>
    <%= f.date_select :birthday, :start_year => 1940,
                                 :end_year => Date.today.year,
                                 :use_month_numbers => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>