<h1>[<%= "#{Date.today}" %>]のリマインド</h1>

<p><%= @user.email[/[a-z\d\w\-.]+/,0] %>さん、おはようございます！</p>

<h3>本日の予定</h3>
<ul>
  <% @todays_tasks.each do |tdl| %>
  <li><%= tdl.schedule_sta.hour %>時<%= tdl.schedule_sta.min%>分〜<%= tdl.title %></li>
  <% end %>
</ul>
<p>「千里の道も一歩から」何事にも動き出す最初のステップがあります！</p>

<%= link_to "habitize", root_url %>



