<div id="header">
    <%= image_tag "logo.png",:size => "116x46",:alt => "ToDo" %>
    <%= link_to "ユーザ一覧",users_path %> |
    <%= link_to "ホーム",root_path %> |
    <%= link_to "このサイトについて",about_path %> |
    <%= link_to "練習用",place_path %>
</div>